@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200&family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-white {
    color: #ffffff;
}

.font-bold {
    font-weight: 700
}

.font-light {
    font-weight: 200;
}

.ease-out {
    transition: ease-out .3s;
}

.flex {
    display: flex;
}

.flex-direction-column {
    flex-direction: column;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-space-around {
    justify-content: space-around;
}

.justify-content-space-between {
    justify-content: space-between;
}

.justify-content-space-evenly {
    justify-content: space-evenly;
}

.align-items-center{
    align-items: center;
}

/* Character Styles */

.title {
    font-family: "Roboto";
    font-size: 3.75rem;
}

.subtitle {
    font-family: Roboto;
    color: #000000;
    font-weight: 700;
}


/* Body CSS */

body {
    background: #FAFAFAFA;
    width: 100vw;
}

#wrapper {
    width: 85.5rem;
    font-family: "Roboto", sans-serif;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin: 5vh auto;
}

/* Macbook Section */

#macbook {
    height: 40.5rem;
    width: 100%;
    background-image: url('./assets/images/Macbook\ Pro.png');
}

#top-bar {
    width: 80%;
    margin: 2rem auto;
    align-self: flex-start;
}


.social-media-container > * {
    margin-right: 1.024375rem;
}

.social-link {
    text-decoration: none;
}

.social-link-white {
    fill: #ffffff;
}

.social-link:hover {
    fill: #E80789;
} 

#macbook-text-container {
    height: 20.5rem;
    width: 28rem;
    align-self: flex-end;
    margin-right: 8rem;
    margin-top: 8rem;
}

#macbook-text-container > .title, .subtitle {
    margin-bottom: 1.25rem;
}

#macbook-text-container > .standard-text {
    margin-bottom: 1rem;
}

.call-to-action {
    height: 3rem;
    width: 10rem;
    border-radius: 1.5rem;
    border: .125rem solid #e80789;
    color: #e80789;
}

.call-to-action:hover {
    color: #000000;
    border-color: #000000;
}

/* Chameleon Section */
#chameleon {
    height: 49.5625rem;
    background: #ffffff;
}

#chameleon-image {
    height: 33.125rem;
    width: 22rem;
    background-image: url("./assets/images/pexels-pixabay-62289.png");
    margin-right: 2rem;
}

#chameleon-text-container {
    width: 40%;
    height: 33.125rem;
}

#chameleon-text-container > .title {
    margin-left: -3.5rem;
    margin-top: -2.6rem;
    margin-bottom: 2rem;
}

#chameleon-text-container > .standard-text {
    margin-bottom: 3.125rem;
} 

#lets-go {
    text-decoration: none;
    color: #e80789;
    font-weight: 700;
    height: 1.3125rem;
    width: 3.4375rem;
}

#lets-go:hover {
    margin-right: .625rem;
}

/* Stats Section */

#stats {
    background: #F9F9F9;
    padding: 2rem;
}

.stat {
    width: 10.6875rem;
    text-align: center;
}

.big-number {
    font-family: Roboto Slab;
    font-size: 6rem;
    color: #E80789;
}

.stat > .subtitle, .standard-text {
    margin: 0;
}

/* Form Section */

#form-wrapper {
    height: 45.25rem;
    background: linear-gradient(118deg, #C6EFE4 0%, #F5ABD6 100%);
}

#form-container {
    width: 22.25rem;
    
}

#form-topper {
    height: 1rem;
    background-color: #E80789;
    border-top-right-radius: 0.625rem;
    border-top-left-radius: 0.625rem;
}

#form-text {
    height: 21.25rem;
    background: #ffffff;
    height: 28.125rem;
}

form > .title {
    margin-bottom: 1rem;
    width: 9.8125rem;
    height: 4.9375rem;
    margin-top: .5625rem;
}

label {
    color: #e80789;
    font-size: .75rem;
    margin-bottom: .25rem;
}

form {
    width: 19.25rem;
    margin: 0 auto;
}

input {
    margin-bottom: 1rem;
    height: 2.5rem;
    padding: 0.625rem;
}

#form-submit {
    height: 3rem;
    background: #E80789;
    border-radius: .25rem;
    border: none;
    margin-bottom: 1rem;
}

#form-submit:hover {
    background:#d40e80;
}

#form-fine-print {
    font-size: 0.75rem;
}

/* And Relax Section */

#and-relax {
    height: 19.4375rem;
    background: #292929;
}

#relax-container {
    width: 80%;
    margin: 0 auto;
}

#left-box {
    width: 10.4375rem;
}

#relax {
    margin-bottom: 2rem;
}

#relax > .title {
    color: white;
}

.social-media-white {
    fill: white;
}


#right-box {
    display: flex;
}

.list {
    margin-right: 3.8125rem;
}

ul {
    height: 9.3125rem;
}

.list-item {
    list-style: none;
    color: #545454;
    margin-bottom: 0.3125rem;
}

footer {
    height: 7.5rem;
    font-size: .75rem;
    background: #ffffff;
}

footer > p {
    max-width: 68.25rem;
    padding: 0.625rem;
}

@media screen and (max-width: 1368px){

    #wrapper {
        width: 85%;
    }

    #top-bar {
        width: 50%;
        align-self: center;
        height: 10%;
        flex-direction: column;
        align-items: center;
    }

    #top-bar > .social-media-container >.social-link {
        fill: #ffffff;
    }

    #macbook-text-container {
        align-self: center;
        color: #ffffff;
        background:#00000094;
        padding: .625rem;
        border-radius: .3125rem;
        margin: 4rem 0 0 0;
        /* color: #D9D9D9; */
    }

    #macbook-text-container > .subtitle {
        color: #ffffff;
    }

    .list {
        margin-left: 3.125rem;
        margin-right: none;
    }
}

@media screen and (max-width:768px){
    #wrapper {
        width: 40rem;
    }

    #chameleon-image {
        background-position-x: 80%;
        margin-right: 1rem;
        width: 15.75rem; 
    }

    #chameleon-text-container > .title {
        margin-left: -2.5rem;
    }

    #stats {
        flex-direction: column
    }

    .big-number {
        font-size: 4rem;
    }

    #relax-container {
        width: 90%;
    }

    #relax > .title {
        font-size: 2.8125rem;
    }

}